<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
  

    <style type="text/css" data-href="/angular-aria.css"></style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/angular-material.css" />
    <script src="/bundle.js"></script>
</head>

<body ng-app="sbApp">
  <% include ../partials/nav.ejs %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Leaderboards</h1>
    </div>
  </div>
  <md-list layout="column" flex="90" layout-align="center center" ng-controller="buildBoard">
    <md-list-item class="md-3-line">
    
    
  </md-list>
</body>

</html>